@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<img src="https://ae01.alicdn.com/kf/H9ddd9b2f68034cd89e6d6c05879a0729Z/The-Funny-Cool-Manga-Logo-Bleach-Rukia-Kuchiki-Skull-Vinyl-Decal-Laptop-Tablet-Skateboard-Car-Windows.jpg_Q90.jpg_.webp"
        alt="Soul Reaper Registry" width="400" height="345">*@


    <img src="/css/logo.png" alt="Soul Reaper Registry" class="center" />
    <h1 class="display-3">Soul Reaper Registry</h1>
    <img src="/css/1679235272751.gif" alt="Soul Reaper Registry" class="center" />



    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>

    